---
extends: default

ignore: |
  .github/
  changelogs/

rules:
  comments-indentation: false
  line-length:
    max: 160
  colons:
    max-spaces-before: 0
    max-spaces-after: -1
  document-end:
    present: true
  indentation:
    level: error
    indent-sequences: true
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  comments:
    min-spaces-from-content: 1
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  truthy:
    level: error
    allowed-values:
      - "true"
      - "false"
      - "on"
...
