---
extends: default

rules:
  line-length: disable
  indentation:
    level: error
    indent-sequences: true
  truthy:
    level: error
    allowed-values:
      - 'true'
      - 'false'
      - 'on'

ignore: |
  .github/
  changelogs/
